# Môi trường ảo Python
venv/
env/
__pycache__/
*.pyc

# Thư viện React
frontend/node_modules/
frontend/dist/

# File dữ liệu thô lớn
*.csv
!outputs/*.csv

# File cấu hình hệ thống & database nội bộ
.vscode/
.idea/
.DS_Store
Thumbs.db
*.db
*.sqlite3
.env

# File nhật ký / Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Thư mục chứa file tải lên tạm thời & cache test
backend/uploads/
backend/temp/
.pytest_cache/
scratch/
